/* VideoBackground.css */
.video-container {
    margin: 50px;
    margin-bottom: 0;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    /* height: 100vh; */
    height: 700px;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.video-fadeout {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    /* altura do fade */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0.534) 60%,
            #000000 100%);
    /* background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.534) 60%,
            #ffffff 100%); */
    z-index: 0;

}

.container-redy-optimize {
    margin: 50px;
    margin-top: 0;
    color: var(--white);
    height: 300px;
    border-radius: 0 0 50px 50px;
    /* background-color: var(--white); */
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    & h2 {
        font-size: 40px;
        /* margin-bottom: 20px; */
    }

    & p {
        font-family: var(--Avenir);
        font-size: 20px;
        text-align: center;
    }

    & button {
        margin-top: 30px;
        padding: 15px 150px;
        border: 2px solid var(--white);
        background-color: transparent;
        color: var(--white);
        border-radius: 15px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
    }
}

.overlay-content {
    position: relative;
    z-index: 1;
    /* text-align: center; */
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 30px;
        width: 750px;
        font-size: 60px;
    }

    p {
        margin-top: 20px;
        width: 600px;
        font-size: 25px;
        font-family: var(--Avenir);
    }

    ul {
        margin: 30px 0 0 60px;

        li {
            list-style: none;

            p {
                /* display: flex; */
                /* gap: 10px; */
                font-size: 20px;
                margin-right: 40px;
            }

            svg {
                color: var(--green);
                margin-right: 10px;
            }
        }
    }
}

.overlay-content h1,
.overlay-content p {
    text-align: center;
    color: var(--white);
    /* background: linear-gradient(90deg, rgb(255, 255, 255), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

@media (max-width: 768px) {

    .overlay-content h1 {
        font-size: 32px;
        width: 90%;
    }

    .container-redy-optimize {
        margin: 0;
        border-radius: 0;
        min-height: max-content;
        border-top: 1px solid rgb(0, 0, 0);

        & h2 {
            font-size: 28px;
            text-align: center;
        }

        & p {
            font-size: 20px;
            margin: 0 20px;
        }
    }

    .video-container {
        margin: 0;
        height: 550px;
    }

    .overlay-content p {
        font-size: 20px;
        width: 90%;
    }

    .overlay-content ul {
        margin-left: 20px;
    }

    .overlay-content ul li p {
        font-size: 18px;
    }
}