.how-works-section {
    padding: 100px 20px;
    background-image: url('/img/background-white.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.how-works-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.how-works-image img {
    width: 100%;
    max-width: 450px;
    animation: float 6s ease-in-out infinite;
}

.how-works-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.work-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* Responsivo */
@media (max-width: 980px) {
    .how-works-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .how-works-content h2 {
        font-size: 32px;
    }

    .how-works-image img {
        max-width: 300px;
    }

    .how-works-content {
        align-items: center;
    }
}