.depoimentos-container {
    /* background: linear-gradient(to bottom, #f5f5f5, #ffffff); */
    background-color: transparent;
    padding: 80px 20px;
    min-height: 80vh;
    text-align: center;
}

.depoimentos-container h2 {
    font-size: 36px;
    margin-bottom: 50px;
    color: var(--dark);
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card-depoimento {
    background: #fff;
    border-radius: 20px;
    padding: 30px 25px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07); */
    max-width: 350px;
    flex: 1;
    transition: 0.5s ease;
    
    .avatar{transition: 0.5s ease;}
    .nome{transition: 0.5s ease;}
}

.card-depoimento:hover {
    transform: translateY(-10px);
    &:nth-child(1) {
        box-shadow: 0 10px 30px var(--lightblue);
        .avatar {
            border: 3px solid var(--blue);
        }
        .nome{
            color: var(--blue);
        }
    }
    
    &:nth-child(2) {
        box-shadow: 0 10px 30px var(--lightred);
        .avatar {
            border: 3px solid var(--red);
        }
        .nome{
            color: var(--red);
        }
    }
    
    &:nth-child(3) {
        box-shadow: 0 10px 30px var(--lightgreen);
        .avatar {
            border: 3px solid var(--green);
        }
        .nome{
            color: var(--green);
        }
    }
}

.avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    /* border: 3px solid var(--blue); */
}

.texto {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin-bottom: 25px;
    line-height: 1.5;
}

.nome {
    font-weight: bold;
    font-size: 16px;
}

.cargo {
    font-size: 14px;
    color: #666;
}

/* Responsivo */
@media (max-width: 900px) {
    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }
}