.creative-analysis-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.creative-analysis-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #1f2937;
}


.creative-analysis-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: stretch;
    grid-template-areas:
        "cards1 cards1 cards1"
        "cards2 cards2 cards2"
        "cards3 cards3 cards4"
        "cards5 cards5 cards6"
    ;
}

.card.card2 {
    grid-area: cards2;
}

.card.card3 {
    grid-area: cards3;
}

.card.card4 {
    grid-area: cards4;
}

.card.card5 {
    grid-area: cards5;
}

.card.card6 {
    grid-area: cards6;
}

@media (min-width: 768px) {
    .creative-analysis-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.card {
    /* background: linear-gradient(135deg, #fefefe, #f4f7fa); */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06); */
    border-radius: 20px;
    /* transition: all 0.3s ease-in-out; */
}


.section-title {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: #374151;

    & h3 {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
    }

}

.section-subtitle-description {
    margin: 0;
    font-size: 25px;
    font-family: var(--Avenir);
    color: black;
}

.icon {
    font-size: 20px;
}

.icon.white {
    color: white;
}

.icon.blue {
    color: var(--blue);
}

.icon.red {
    color: var(--red);
}

.icon.green {
    color: var(--green);
}

.icon.yellow {
    color: var(--yellow);
}

.summary {
    font-size: 16px;
    color: #4b5563;
    line-height: 1.6;
}

.gray-bg {
    background-color: #f3f4f6;
}

.cards-performance-stats {
    grid-area: cards1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.progress-bar {
    appearance: none;
    height: 15px;
    border-radius: 100px;

    /* Chrome and Safari */
    &::-webkit-progress-bar {
        background: rgb(228, 228, 228);
        border-radius: 100px;
    }

    &::-webkit-progress-value {
        background-color: var(--yellow);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    /* Firefox */
    &::-moz-progress-bar {
        background-color: var(--yellow);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
}

.progress-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    progress{
        width: 500px;
    }
}