.container-home {
    position: relative;
    width: 100%;
    height: 130vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;
    /* background-color: black; */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* OLD */
/* .container-home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    background-color: black;
} */
/* 
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
} */

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.fade-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-image.active {
    opacity: 1;
    z-index: 1;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    max-width: 600px;
    color: var(--white);
}

/* OLD */
/* .text-area h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-family: var(--Proxima);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
} */

.text-area h1 {
    width: max-content;
    font-size: clamp(2.5rem, 5vw, 5vw);
    font-family: Proxima Nova Extrabold, var(--Proxima), sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); */

    & span {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        color: transparent;
        transition: 1s ease-in-out !important;
    }
}


.pro-version-text {
    text-align: center;
    background: white;
    border-radius: 10px;
    color: black;
    padding: 5px 35px;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.text-area p {
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
    font-family: var(--Avenir);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.buttons-home {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & span {
        font-family: var(--Avenir);
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.buttons-home button {
    padding: 12px 24px;
    border-radius: 15px;
    width: 400px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--Avenir);
}

.try-for-free-button button {

    background: transparent;
    color: black;
    border: 2px solid black;
    font-weight: bold;
}

.try-for-free-button button:hover {
    transform: scale(1.01);
    color: white;
    background-color: black;
}

.watch-demo-button button {
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
}

.watch-demo-button button:hover {
    transform: scale(1.01);
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.arrow-down {
    position: absolute;
    left: 45%;
    z-index: 3;
    bottom: 20px;
    color: white;
    opacity: 0.6;
    font-size: 2rem;
    animation: blink 2.5s infinite;
}

.arrow-down:hover {
    opacity: 1;
    transform: translateX(-50%) scale(1.1);
}

@keyframes blink {

    0%,
    100% {
        opacity: 0.2;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .container-home {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 20px;
        justify-content: center;

        height: 100vh;
    }

    .text-area {
        padding-top: 80px;
        text-align: center;
        align-items: center;
    }

    .text-area h1 {
        font-size: 2.5rem;
        min-width: unset;
    }

    .text-area p {
        width: 100%;
    }

    .buttons-home {
        justify-content: center;
        display: flex;
        flex-direction: column;

        & button {
            width: 100%;
        }
    }
}