:root{
  --Canvas: Canvas Sans, sans-serif;
  --Avenir: Avenir LT Std, sans-serif;
  --Proxima: Proxima Nova, sans-serif;

  --verylightyellow: #fffce6;
  --yellow:#FBEB77;
  --lightyellow:#FFF4A3;
  --meanyellow:#ffff72;
  --darkyellow:#4a493d;

  --verylightblue: #e9f6ff;
  --blue:#648DCB;
  --meanblue:#1f55a5;
  --lightblue:#A2C1F0;
  --darkblue: #2d3139;

  --verylightred: #ffe0e0;
  --red: #F65655;
  --lightred: #f8c7c7;
  --darkred: #4a3939;

  --verylightgreen: #f2ffe2;
  --green: #B9E184;
  --lightgreen: #c0fec0;
  --darkgreen: #2a352a;

  --white: rgb(250, 250, 250);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--Proxima), sans-serif;
  cursor: default;
}
