.card-performance {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 10px;
    width: 300px;
    border: 2px solid rgb(232, 232, 232);
        /* border: 2px solid var(--lightblue);
    box-shadow: 0 0 20px var(--verylightblue); */
        height: 130px;

    transition: all 0.3s ease;

    & h3 {
        font-size: 30px;
        font-weight: 500;
        font-family: var(--Avenir);
    }

    & p {
        font-family: var(--Avenir);
        color: #696969;
    }

    & svg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    & .icon-card-performance {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}